@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 30px transparent inset !important;
}

input:-moz-placeholder {
  background-color: transparent !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-slurm {
  background: #170F63;
}

.bubbles {
  pointer-events: none;
}
.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  animation: bubble-animation 4s infinite;
}
.bubble.animation-delay-1 {
  animation-delay: 0s;
}
.bubble.animation-delay-2 {
  animation-delay: 1s;
}
.bubble.animation-delay-3 {
  animation-delay: 2s;
}
@keyframes bubble-animation {
  0% {
    transform: translateY(100%) scale(0.5);
  }
  50% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-100%) scale(0.5);
  }
}